<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="school">
  <ion-item>
    <ion-icon aria-hidden="true" name="school-outline" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ school.noEntidade }}
      </h2>
      <ion-note>Cód.Inep: {{ school.coEntidade }}</ion-note>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h1>{{ school.noEntidade }}</h1>
    <div class="school-info">
      <ul>
        <li><strong>School Name:</strong> {{ school.noEntidade }}</li>
        <li><strong>Year of Census:</strong> {{ school.nuAnoCenso }}</li>
        <li><strong>Type of Dependence:</strong> {{ school.tpDependencia }}</li>
        <li><strong>Network:</strong> {{ school.rede }}</li>
        <li><strong>Location:</strong> {{ school.localizacao }}</li>
        <li><strong>Region:</strong> {{ school.noRegiao }}</li>
        <li><strong>Address:</strong> {{ school.dsEndereco }}, {{ school.nuEndereco }}</li>
        <li><strong>Region:</strong> {{ school.noRegiao }}</li>
        <li><strong>City:</strong> {{ school.noMunicipio }}, {{ school.sgUf }}</li>
        <li><strong>Phone:</strong> {{ school.nuDdd }} {{ school.nuTelefone }}</li>
      </ul>
    </div>
  </div>
</ion-content>
