<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="school">
  <ion-item>
    <ion-icon aria-hidden="true" name="school-outline" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ school.noEntidade }}
      </h2>
      <ion-note>Cód.Inep: {{ school.coEntidade }}</ion-note>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <div class="school-info">
      <div class="school-info">
        <ul>
          <li><strong>Tipo de dependência:</strong> {{ school.tpDependencia }}</li>
          <li><strong>Ano de Censo:</strong> {{ school.nuAnoCenso }}</li>
          <li><strong>Rede:</strong> {{ school.rede }}</li>
        </ul>
      </div>
      <div class="cardscontainer">
        <!-- Location Info Button -->
        <ion-card expand="full" (click)="redirectToLocationInfo()" class="card">
          <h3>Localização</h3>
        </ion-card>
  
        <!-- Contact Info Button -->
        <ion-card expand="full" (click)="redirectToContactInfo()" class="card">
           <h3>Contato</h3>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
