<ion-item *ngIf="school">
  <!-- Left section for school information -->
  <ion-label class="left-section ion-text-wrap" [routerLink]="'/school/' + school.id" >
    <h2>
      {{ school.fromName }}
    </h2>
    <h3>{{ school.subject }}</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni assumenda dicta sunt adipisci aut dignissimos nulla sapiente, iusto rem voluptatem asperiores labore, ea quam blanditiis facere fugiat eligendi mollitia quae.
    </p>
  </ion-label>
  <ion-button class="right-section" fill="clear" (click)="toggleFavorite()">
    <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'" color="danger"></ion-icon>
  </ion-button>
</ion-item>
