<ion-item *ngIf="school">
  <!-- Left section for school information -->
  <ion-label class="left-section ion-text-wrap" [routerLink]="'/school/' + school.coEntidade" >
    <h2 >
      {{ school.noEntidade }}
    </h2>
    <h3>{{ school.rede }} • {{ school.noMunicipio }}</h3>
    <p>
      Cód.Inep: {{ school.coEntidade }}
    </p>
  </ion-label>
  <ion-button class="right-section" fill="clear" (click)="toggleFavorite()">
    <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'" color="danger"></ion-icon>
  </ion-button>
</ion-item>
