<!-- app.component.html -->
<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opções</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-content>
        <ion-list class="selection-menu">
          <ion-item (click)="goToPage('home')" button>
            <ion-icon name="home"></ion-icon> Home
          </ion-item>
          <ion-item (click)="goToPage('favorites')" button>
            <ion-icon name="heart"></ion-icon> Favorites
          </ion-item>
        </ion-list>
      </ion-content>
  </ion-menu>
  
  

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Escolas</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">
            Inbox
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-list>
        <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
      </ion-list>
    </ion-content>
  </div>
</ion-app>
